<div class="sticky-wrapper">

  <!-- TOP BAR -->
  <div class="top-bar">
    <div class="top-bar-container">

      <!-- Left -->
      <div class="top-bar-left">
        <span class="top-item">
          <i class="fa-solid fa-location-dot"></i>
          Location goes here
        </span>
        <span class="divider">|</span>
        <span class="top-item">
          <i class="fa-solid fa-envelope"></i>
          example@gmail.com
        </span>
      </div>

      <!-- Center -->
      <div class="top-bar-center">
        Happy Toys Flash Discount: starting at 30% off
      </div>

    </div>
  </div>

  <!-- HEADER -->
  <header class="header" [class.header-hidden]="hideHeader">
    <div class="header-container">

      <!-- LOGO -->
      <div class="logo">
        <img src="assets/logo.png" alt="Happy Toys">
      </div>

      <!-- SEARCH -->
      <div class="search-box">
        <select>
          <option>Categories</option>
        </select>

        <input type="text" placeholder="Type your products..">

        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

    </div>
  </header>

</div>
